* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1600px;
}

header {
    min-height: 48px;
    text-align: center;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    gap: 30px;
    padding: 10px;
    margin: 0px;
    list-style-type: none;
}

nav > ul.uppernav {
    color: black;
    background-color: white;
}

nav > ul.lowernav {
    background-color: blue;
}

nav > ul li > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav > ul.uppernav li > a {
    font-size: 15px;
    color: black;
}

.success {
    font-weight: bold;
    padding-top: 10px;
    color: green;
}

.error {
    color: red;
    padding-left: 5px;
}

.content {
    margin: 10px;
}

.content, select, button {
    font-size: 12px;
    color: rgb(70, 70, 70);
}

.submitted_data {
    list-style-type: none;
}

.flex-outer {
    padding-left: 5px;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 10px;
  }

.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label, .flex-outer li legend {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *, .flex-inner {
  width: 400px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 4px 16px;
}

.flex-inner {
    width: 150px;
    gap: 5px;
    padding: 0;
}

.flex-inner li {
    gap: 5px;
}

div.productinfo {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 15px;
    align-items:self-start;
}

ul.products {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-gap: 16px;
    justify-content: center;
}

ul.topfiveproducts {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    background-color: rgb(245, 245, 245);
    list-style-type: none;
}

ul.topfiveproducts > li.topfiveproductcard > a.productlink > ul > li {
    height: 200px;
}

ul.topfiveproducts li.topfiveproductcard ul {
    display: flex;
    padding: 0;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    list-style-type: none;
    border-radius: 5px 20px 5px;
}

li.topfiveproductcard div.productcardbottom {
    display: flex;
    justify-content: space-around;
}

li.topfiveproductcard div.productcardleft {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

li.topfiveproductcard div.productcardleft li.ranking {
    font-size: 25px;
}

li.topfiveproductcard div.productcardleft li.productname {
    font-size: 20px;
    font-weight: bold;
}

li.topfiveproductcard div.productcardleft li.price {
    font-size: 18px;
    font-weight: bold;
    font-style: unset;
    color: red;
    
}

a.productlink {
    text-decoration: none;
    color: black;
}

ul.products > a.productlink > ul.productcard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    padding: 10px;
    border: solid black 2px;
    list-style-type: none;
}

ul.products img, ul.topfiveproducts img {
    width: 220px;
    height: 200px;
}

.productcardbottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

ul.product {
    display: flex;
    list-style-type: none;
}

ul.product > div.productimage > li > img {
    width: 350px;
    height: 300px;
}

li.productname {
    font-size: 13px;
    font-weight: bold;
}

li.price {
    font-style: italic;
}

ul.products > a.productlink:hover {
    color: blue;
}

div.shoppingcart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

div.shoppingcart > table {
    width: 100%;
    border-collapse: collapse;
  }

div.shoppingcart > table, th, td {
    border: 1px solid;
}

/* deze nog verder specificeren */
div.shoppingcart table tr th {
    height: 30px;
}

div.shoppingcart table tr td {
    height: 20px;
    text-align: center;
}

div.shoppingcart table tr td img {
    height: 70px;
    width: 90px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: last baseline;
    background-color: black;
    color: white;
    height: 40px;
    padding: 10px;
    font-size: 10px;
}

footer > p {
    align-self: baseline;
}