* {
    font-family: 'Lato', sans-serif;
}

/* .body-container {
    border: 1px solid black;
    background-color: yellow;
} */

/* .body-content {
    background-color: red;
} */

/* .header-container {
    background-color: green;
} */

/* .navbar-nav {
    background-color: purple;
} */

.star {
    font-size: 18px;
    color: #000;
    cursor: pointer;
    width: 50px;
}

.unclickablerating .star {
    pointer-events: none;
}

.star:hover {
    color: #F00;
}

.red {
    color: #F00;
}

nav {
    height: 60px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    background-image: linear-gradient(to bottom, #0869fc, #0d6efd, #0869fc);
}

.product-card {
    padding: 30px;
    border: 1px solid #d2d2d2;
    border-radius: 50px 50px 0px 50px;
}

li.nav-item:nth-child(6) {
    margin-left: auto;
}

/* icon styling */
.bi-linkedin, .bi-github {
    font-size: 24px;
}

.bi-linkedin:hover, .bi-github:hover {
    color: #0d6efd;
}

.brandicon-top {
    fill: white;
    height: 80px;
    width: 80px;
}

.brandicon-top:hover {
    fill: black;
}

.brandicon-bot {
    fill: #595c5f;
}

.brandicon-bot:hover {
    fill: #0d6efd;
}

.bi-bag-check, .bi-bag-check-fill, .bi-person-circle {
    font-size: 24px;
}

/* button styling */

#button-invert {
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    color: white;
}

#button-invert:hover {
    font-weight: bold;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #0d6efd;
    border: 2px solid #0d6efd;
}

#button-invert:active {
    color: white;
    border-color: black;
    background-color: navy;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*  */
 .bagcheck i:nth-child(2) {
    display: none;
}

.bagcheck:hover i:nth-child(1) {
    display: none;
}

.bagcheck:hover i:nth-child(2) {
    display: inline;
    color: black;
}


.cartdash, .cartplus {
    background-color: transparent;
    border: none;
}

.cartdash i:nth-child(1) {
    color: crimson;
}

.cartplus#button-shoppingcart {
    color: #0d6efd;
}


.cartdash i:nth-child(2),
.cartplus i:nth-child(2) {
    display: none;
}

.cartdash:hover i:nth-child(1),
.cartplus:hover i:nth-child(1) {
    display: none;
}

.cartdash:hover i:nth-child(2) {
    display: inline;
    color: crimson;
}

.cartplus:hover i:nth-child(2) {
    display: inline;
    color: #0d6efd;
}

