* {
    font-family: 'Lato', sans-serif;
}

.body-container {
    border: 1px solid black;
    background-color: yellow;
}

.body-content {
    background-color: red;
}

.header-container {
    background-color: green;
}

nav {
    height: 60px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    background-image: linear-gradient(to bottom, #0869fc, #0d6efd, #0869fc);
}

.navbar-nav {
    background-color: purple;
}

li.nav-item:nth-child(6) {
    margin-left: auto;
    background-color: orange;
}

/* icon styling */
.bi-linkedin, .bi-github {
    font-size: 24px;
}

.bi-linkedin:hover, .bi-github:hover {
    color: #0d6efd;
}

.brandicon-top {
    fill: white;
    height: 80px;
    width: 80px;
}

.brandicon-top:hover {
    fill: black;
}

.brandicon-bot {
    fill: #595c5f;
}

.brandicon-bot:hover {
    fill: #0d6efd;
}

.bi-bag-check {
    font-size: 24px;
}
